*{
    margin: 0;
    padding: 0;

}
body{
background-color:lightblue;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 10vh;
    color: rgb(9, 18, 3);
    background-color:  #f5f5f5;
}
.resetbutton{
    padding: 1em;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color:#010e04;
    color: #f5f5f5;
}
#msg{
    color: #1e9730;
    font-size: 8vmin;
}
.hide{
    display: none;
}
h1{
    color: #33393f;
    font-size: 50px;
}
